streamlit==1.38.0
google-generativeai==0.7.2
protobuf==4.21.5
python-dotenv==1.0.1
langchain==0.2.14
PyPDF2==3.0.1
faiss-cpu==1.8.0.post1
langchain-google-genai==1.0.10
langchain-core==0.2.35
langchain-community==0.2.12
langchain-text-splitters==0.2.2
